.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header h1 {
  margin-bottom: 0.5rem;
}

.App-header p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.App-header h3 {
  color: #61dafb;
  margin-bottom: 1rem;
}